<!-- CENTERED IMAGE -->
<div align="center">
	<a href="{% if config.environment === 'prod' %}{website_url}{% else  %}{{dataLoader.nat.website_url}}{% endif %}"><img src="https://media.sailthru.com/64p/1k3/9/r/5d8e71d74accd.jpg" width="{{theme.sizing.wrapper}}" class="mobile-image" border="0" alt="You're invited!" /></a>
</div>
<br />

