<div align="center">
	<a href="{% if config.environment === 'prod' %}{affiliates_website}{% else  %}{{affiliates.can.website}}{% endif %}"><img src="https://media.sailthru.com/64p/1k3/9/r/5d8e71d74accd.jpg" width="600" class="image-resize" border="0" alt="You're invited!" /></a>
</div>
<br />

