<!-- START CTA BUTTON, make sure to update both links and adjust both widths as needed -->
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center" style="margin: 20px 0 20px 0;">
			<table role="presentation" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center" bgcolor="{{theme.colors.secondary}}">
						<a role="button" class="button-text" href="{% if config.environment === 'prod' %}{website_url}{% else  %}{{dataLoader.nat.website_url}}{% endif %}" style="
						font-family: {{theme.text.fontFamily}};
						color: {{theme.colors.white}};
						padding: 12px 18px;
						border: 1px solid {{theme.colors.secondary}};
						display: inline-block;
						font-size:18px;
						font-weight:bold;
						text-align:center;
						text-decoration:none;
						text-transform: uppercase;
						">Take Action</a>
					</td>
				</tr>
			</table>
			{%- if disclaimer %}
				<p style="font-size:14px;margin-top:15px;"><em>Please note: This link will take you to a third-party website, {{disclaimer}}.</em></p>
			{% endif -%}
		</td>
	</tr>
</table>
<br />
<!-- END CTA BUTTON -->