{% macro button(btnText, btnColor, theme) %}
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" style="margin: 20px 0;">
      <table role="presentation" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" bgcolor="{{ btnColor }}">
            <a role="button"
               href="{% if config.environment === 'prod' %}{{ website_url }}{% else %}{{ dataLoader.nat.website_url }}{% endif %}"
               style="font-family: {{ theme.typography.sans }};
                      color: {{ theme.colors.default.pureWhite }};
                      padding: 12px 18px;
                      border: 1px solid {{ btnColor }};
                      display: inline-block;
                      font-size: 18px;
                      font-weight: bold;
                      text-align: center;
                      text-decoration: none;
                      text-transform: uppercase;">
              {{ btnText }}
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />
{% endmacro %}