{% if config.author.image !== '' %}
	<p><img src="{{config.author.image}}" alt="{{config.author.name}}" border="0" width="90" /></p>
{% endif %}
<p><strong>{{config.author.name}}<br />
{{config.author.title}}<br />
{{config.company}}</strong></p>