{%- if config.environment === 'prod' -%}
{signature = 'ed'}{include "affiliate_signatures"}
{%- else -%}
	<p><img src="{{affiliates.can.signatures[0].ed.headshot}}" alt="{{affiliates.can.signatures[0].ed.name}}" border="0" width="90" /></p>
	<p><strong>{{affiliates.can.signatures[0].ed.name}}<br />
	{{affiliates.can.signatures[0].ed.title}}<br />
	Pronouns: {{affiliates.can.signatures[0].ed.pronouns}}<br />
	{{affiliates.can.name}}</strong></p>
{%- endif -%}

