{foreach slice(sort(socials, "rank"), 0, 4) as obj}
	{if obj.name == "bluesky"}
		<a href="{bluesky_url}"><img src="{icon_bluesky_blue}" border="0" alt="{title(obj.name)}" height="39"/></a> &nbsp; &nbsp;
	{else if obj.name == "facebook"}
		<a href="{facebook_url}"><img src="{icon_facebook_blue}" border="0" alt="{title(obj.name)}" height="39"/></a> &nbsp; &nbsp;
	{else if obj.name == "instagram"}
		<a href="{instagram_url}"><img src="{icon_instagram_blue}" border="0" alt="{title(obj.name)}" height="39"/></a> &nbsp; &nbsp;
	{else if obj.name == "threads"}
		<a href="{threads_url}"><img src="{icon_threads_blue}" border="0" alt="{title(obj.name)}" height="39"/></a> &nbsp; &nbsp;
	{else if obj.name == "tiktok"}
		<a href="{tiktok_url}"><img src="{icon_tiktok_blue}" border="0" alt="{title(obj.name)}" height="39"/></a> &nbsp; &nbsp;
	{else if obj.name == "x"}
		<a href="{x_url}"><img src="{icon_x_blue}" border="0" alt="{title(obj.name)}" height="39"/></a> &nbsp; &nbsp;
	{else if obj.name == "youtube"}
		<a href="{youtube_url}"><img src="{icon_youtube_blue}" border="0" alt="{title(obj.name)}" height="39"/></a> &nbsp; &nbsp;
	{/if}
{/foreach}