<!-- START OF TOPPER SECTION -->
<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="{{theme.width}}">
	<tbody>
		<tr>
			<td class="emailbodytext" style="padding:15px 0px 20px 0px;color:{{theme.colors.black}};font-family: {{theme.text.fontFamily}};font-size:{{theme.text.fontSize}};line-height:22px;border-bottom:1px solid #d4d4d4;" valign="top">

				<p>{include "default_salutation"}&ndash;</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt vestibulum ante, nec condimentum turpis aliquet et. Sed eget interdum eros. In sagittis justo nunc</p>

				<p><a href="{% if config.environment === 'prod' %}{affiliates_website}{% else  %}{{affiliates.can.website}}{% endif %}">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, architecto!</a></p>

				<ul>
					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,expedita.</li>

					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,expedita.</li>

					<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo,expedita.</li>
				</ul>

				<p>Phasellus nisl ante, vestibulum eu gravida vel, bibendum at sem. Nullam in ex eu odio congue venenatis. Fusce pellentesque, risus ut eleifend pellentesque, elit nunc placerat risus, in gravida purus lectus at felis. Suspendisse vulputate, risus a elementum accumsan, odio orci cursus est, at sollicitudin enim justo et lorem.</p>

				<p>Thank you,</p>

				<p><strong>{affiliate_name}</strong></p>
			</td>
		</tr>
	</tbody>
</table><br/>
<!-- END OF TOPPER SECTION -->