<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="{{theme.width}}">
	<tbody>
		<tr>
			<td class="emailbodytext" style="padding:15px 0px 20px 0px;color:{{theme.colors.black}};font-family: {{theme.text.fontFamily}};font-size:{{theme.text.fontSize}};line-height: {{theme.text.lineHeight}};border-bottom: {{theme.light.borderBottom}};" valign="top">
				{% include "partials/salutation.njk" %}

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt vestibulum ante, nec condimentum turpis aliquet et. Sed eget interdum eros. In sagittis justo nunc</p>

				<p><a href="{% if config.environment === 'prod' %}{website_url}{% else %}{{dataLoader.nat.website_url}}{% endif %}">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, architecto!</a></p>

				<p>Suspendisse vulputate, risus a elementum accumsan, odio orci cursus est, at sollicitudin enim justo et lorem.</p>

				<p>Thank you,</p>

				<p><strong>{% if config.environment === 'prod' %}{affiliate_name}{% else  %}{{dataLoader.nat.affiliation_name}}{% endif %}</strong></p>
			</td>
		</tr>
	</tbody>
</table><br/>