# dependencies
node_modules/
.vscode/settings.json

# build artifacts
build/
.cache

# secrets and errors
.env
.log
errors.*
report.*

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

