# dependencies
node_modules/
.vscode/settings.json
src/_data/affiliations/xx.js
src/test/xx.test.js

# build artifacts
build/
dist/
.cache

# secrets and errors
.env
.log
errors.*
report.*

# macOS related files
.DS_Store
.AppleDouble
.LSOverride