# dependencies
node_modules/

# test files
.vscode/settings.json
src/**/**/xx.js
src/test/xx.test.js
bin/commands/testCommand.mjs
test.*
src/_data/dataLoader.json

# build artifacts
build/
dist/
.cache

# secrets and errors
.env
.log
errors.*
report.*

# macOS related files
.DS_Store
.AppleDouble
.LSOverride