<!-- ALTERNATE ARTICLE -->
<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="email-wrapper" width="600">
	<tbody>
		<tr>
			<td class="email-content darkmode-box" style="color: #3c3532; font-family: Arial, 'Helvetica Neue', sans-serif; font-size: 16px; line-height: 22px; padding: 15px 0px 20px 0px;background-color:#f2f2f2;border-radius: 0 0 3px 3px;" valign="top">
				<!-- CONTENT -->
				<div class="content" style="padding: 20px 20px 0 20px;">
					<h2>Alternate Article Component</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<!-- CONTENT -->
			</td>
		</tr>
	</tbody>
</table>
<!-- ALTERNATE ARTICLE -->