<!-- MAIN ARTICLE -->
<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="600">
	<tbody>
		<tr>
			<td class="emailbodytext dm-box" style="color: #3c3532; font-family: Arial, 'Helvetica Neue', sans-serif; font-size: 16px; line-height: 22px; padding: 0px 0px 0px 0px;background-color:#f2f2f2;border-radius: 0 0 3px 3px;" valign="top">
				<!-- CONTENT -->

				<div class="content" style="padding: 20px 20px 0px 20px;">
					<!-- BANNER IMAGE -->
					<div align="center">
						<img src="https://media.sailthru.com/64p/1k3/9/r/5d8e71d74accd.jpg" class="image-resize" border="0" alt="Lorem ipsum." style="width:100%;padding-bottom: 20px;" />
					</div>
					<!-- BANNER IMAGE -->

					<h2>Main Article Component</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<!-- CONTENT -->

				<!-- BUTTON -->
				<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align="center" style="margin: 20px 0 20px 0;">
							<table role="presentation" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td align="center" bgcolor="#ef404d">
										<a role="button" class="button-text" href="{affiliate_website}" style="font-family: Arial, sans-serif; color: #ffffff; padding: 12px 18px; border: 1px solid #ef404d; display: inline-block;font-size:18px;font-weight:bold;text-align:center;text-decoration:none;text-transform: uppercase;">Take Action</a>
									</td>
								</tr>
							</table>
							<!-- <p style="font-size: 14px;margin-top:10px"><em>Please note: This link will take you to a third-party website, xyz.com.</em></p> -->
						</td>
					</tr>
				</table>
				<br />
				<!-- BUTTON -->
			</td>
		</tr>
	</tbody>
</table>
<!-- MAIN ARTICLE -->