---
layout: base
---
<head>
	{% include "partials/head.njk" %}
</head>
<body>
	{% include "partials/preheader.njk" %}
	<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="email-wrapper" width="600">
		<tbody>
			{% include "partials/logo.njk" %}
			<tr>
				<td class="emailbodytext" style="color:#3c3532;font-family: Arial,'Helvetica Neue',sans-serif;font-size:16px;line-height:22px;padding:20px 20px;background: #f2f2f3;" valign="top">
					{{ content | safe }}

					{% include "components/signature.njk" %}
				</td>
			</tr>
			{% include "partials/footer.njk" %}
		</tbody>
	</table>
</body>