<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% include "components/newsletter/head.njk" %}
<body>
	{% include "partials/preheader.njk" %}
	<!-- WRAPPER -->
	<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="640">
		<tbody>
			<tr>
				<td class="emailbodytext" style="color: #3c3532; font-family: Arial, 'Helvetica Neue', sans-serif; font-size: 16px; line-height: 22px; padding: 0px;" valign="top">
				<!-- BODY CONTENT -->
				{% include "components/newsletter/heading.njk" %}
				{{content | safe}}
				<!-- BODY CONTENT -->
				</td>
			</tr>
		</tbody>
	</table>
	<!-- WRAPPER -->
	{% include "components/newsletter/footer.njk" %}
</body>
</html>
