---
component: Members Card
---

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident facilis esse possimus harum in! Quis qui suscipit rerum aut, dolore itaque deserunt ipsa voluptatibus corrupti maiores mollitia eius. Quas, sequi.</p>

<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="{{theme.width}}" style="margin-bottom: 15px;">
	<tbody>
		<tr>
			<td style="
			color: {{theme.light.color}};
			font-family: {{theme.text.fontFamily}};
			font-size: {{theme.text.fontSize}};
			line-height: {{theme.text.lineHeight}};
			padding: {{theme.padding}};" valign="top">
				<h2 style="text-align: center;">Membership Card</h2>
				<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="35%" style="background: #000000;">
					<tbody>
						<tr width="100px">
							<td  style="
							color: {{theme.light.color}};
							font-family: {{theme.text.fontFamily}};
							font-size: {{theme.text.fontSize}};
							line-height: {{theme.text.lineHeight}};
							padding: 10px;text-align: center;" valign="top">
								<img src="{{affiliates.can.logo}}" alt="ACLU Logo" /></td>
						</tr>
						<tr>
							<td style="
							color: {{theme.light.color}};
							font-family: {{theme.text.fontFamily}};
							font-size: {{theme.text.fontSize}};
							line-height: {{theme.text.lineHeight}};
							padding: 10px;text-align: center;" valign="top">
								<p style="margin-bottom: 5px;">Member Name: Pavel</p>
								<p style="margin-bottom: 5px;">Membership ID: 8675309</p>
								<p style="margin-bottom: 0;">Member Since: 1920</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<p>Excepturi explicabo perspiciatis nostrum dolores libero mollitia dolore suscipit repellendus! Perspiciatis veniam aliquam officiis beatae illum quae architecto ad nulla quidem totam, pariatur consequatur, saepe quos placeat sed nemo repellat!</p>

<p>Quam inventore magni impedit in et incidunt ad dolorem praesentium cupiditate quasi repudiandae, nulla eligendi est aspernatur? Aliquam laboriosam, adipisci omnis, distinctio quisquam nemo veritatis saepe minima deleniti, nam et.</p>
