<div>
	<p>This template is strictly only for showing the available dataLoader data points. These are not found on subscriber profiles.</p>

	<hr style="height:1px;border-width:0;color:#d4d4d4;background-color:#d4d4d4;width: 80%;text-align:center; margin: 40px auto;" />

	<h2 style="text-align:center;margin-bottom: 20px;">How to Use</h2>

	<p>In order to use any of these variables, you will need to correct variable name. Once you have the variable name you will need to wrap it in {} brackets.</p>

	<h3>Examples</h3>

	<p><strong>Input:</strong> Please join us <strong>&#123;address1&#125;</strong>, <strong>&#123;address2&#125;</strong>  at strong on <strong>&#123;date("EEEE, MMMM dd, yyyy")&#125;</strong> for a welcome party for all our new members!
	<br /><br /><strong>Output:</strong> Please join us at <strong>{address1}</strong>, <strong>{address2}</strong> on <strong>{date("EEEE, MMMM dd, yyyy")}</strong> for a welcome party for all our new members!</p>

	<hr style="height:1px;border-width:0;color:#d4d4d4;background-color:#d4d4d4;width: 80%;text-align:center; margin: 40px auto;" />

	<h2 style="text-align:center;margin-bottom: 20px;">Main Variables</h2>
	<div style="max-width: 600px;">
		<p style="word-break: normal; border-collapse : collapse !important;">
			<strong>affiliation_name:</strong> {affiliation_name}<br />
			<strong>address1:</strong> {address1}<br />
			<strong>address2:</strong> {address2}<br />
			<strong>donation_url:</strong> <a href="{donation_url}">{donation_url}</a><br />
			<strong>privacy_url:</strong> <a href="{privacy_url}">{privacy_url}</a><br />
			<strong>website_url:</strong> <a href="{website_url}">{website_url}</a><br />
		</p>
	</div>

	<hr style="height:1px;border-width:0;color:#d4d4d4;background-color:#d4d4d4;width: 80%;text-align:center; margin: 40px auto;" />

	<h2 style="text-align:center;margin-bottom: 20px;">Logo Variables</h2>
	<div>
		<p>
			<strong>logo_default_url:</strong> <a href="{logo_default_url}">{logo_default_url}</a><br />
			<strong>logo_default_size:</strong> {logo_default_size}<br />
		</p>
	</div>

	<hr style="height:1px;border-width:0;color:#d4d4d4;background-color:#d4d4d4;width: 80%;text-align:center; margin: 40px auto;" />

	<h2 style="text-align:center;margin-bottom: 20px;">Signature Variables</h2>
	<div>
		<h3>Advo</h3>
		<p>
			<strong>advo_title:</strong> {advo_title}<br />
			<strong>advo_pronouns:</strong> {advo_pronouns}<br />
			<strong>advo_title:</strong> {advo_title}<br />
			<strong>advo_headshot:</strong> <a href="{advo_headshot}">{advo_headshot}</a>
		</p>

		<h3>Comms</h3>
		<p>
			<strong>comms_title:</strong> {comms_title}<br />
			<strong>comms_pronouns:</strong> {comms_pronouns}<br />
			<strong>comms_title:</strong> {comms_title}<br />
			<strong>comms_headshot:</strong> <a href="{comms_headshot}">{comms_headshot}</a>
		</p>

		<h3>Custom1</h3>
		<p>
			<strong>custom1_title:</strong> {custom1_title}<br />
			<strong>custom1_pronouns:</strong> {custom1_pronouns}<br />
			<strong>custom1_title:</strong> {custom1_title}<br />
			<strong>custom1_headshot:</strong> <a href="{custom1_headshot}">{custom1_headshot}</a>
		</p>

		<h3>Custom2</h3>
		<p>
			<strong>custom2_title:</strong> {custom2_title}<br />
			<strong>custom2_pronouns:</strong> {custom2_pronouns}<br />
			<strong>custom2_title:</strong> {custom2_title}<br />
			<strong>custom2_headshot:</strong> <a href="{custom2_headshot}">{custom2_headshot}</a>
		</p>

		<h3>Custom3</h3>
		<p>
			<strong>custom3_title:</strong> {custom3_title}<br />
			<strong>custom3_pronouns:</strong> {custom3_pronouns}<br />
			<strong>custom3_title:</strong> {custom3_title}<br />
			<strong>custom3_headshot:</strong> <a href="{custom3_headshot}">{custom3_headshot}</a>
		</p>

		<h3>DEV</h3>
		<p>
			<strong>dev_title:</strong> {dev_title}<br />
			<strong>dev_pronouns:</strong> {dev_pronouns}<br />
			<strong>dev_title:</strong> {dev_title}<br />
			<strong>dev_headshot:</strong> <a href="{dev_headshot}">{dev_headshot}</a>
		</p>

		<h3>ED</h3>
		<p>
			<strong>ed_name:</strong> {ed_name}<br />
			<strong>ed_pronouns:</strong> {ed_pronouns}<br />
			<strong>ed_title:</strong> {ed_title}<br />
			<strong>ed_headshot:</strong> <a href="{ed_headshot}">{ed_headshot}</a>
		</p>

		<h3>Legal</h3>
		<p>
			<strong>legal_title:</strong> {legal_title}<br />
			<strong>legal_pronouns:</strong> {legal_pronouns}<br />
			<strong>legal_title:</strong> {legal_title}<br />
			<strong>legal_headshot:</strong> <a href="{legal_headshot}">{legal_headshot}</a>
		</p>

		<h3>ORG</h3>
		<p>
			<strong>org_title:</strong> {org_title}<br />
			<strong>org_pronouns:</strong> {org_pronouns}<br />
			<strong>org_title:</strong> {org_title}<br />
			<strong>org_headshot:</strong> <a href="{org_headshot}">{org_headshot}</a>
		</p>
	</div>

	<hr style="height:1px;border-width:0;color:#d4d4d4;background-color:#d4d4d4;width: 80%;text-align:center; margin: 40px auto;" />

	<h2 style="text-align:center;margin-bottom: 20px;">Social Variables</h2>
	<div>
		<p>
			<strong>facebook_url:</strong> <a href="{facebook_url}">{facebook_url}</a><br />
			<strong>instagram_url:</strong> <a href="{instagram_url}">{instagram_url}</a><br />
			<strong>threads_url:</strong> <a href="{threads_url}">{threads_url}</a><br />
			<strong>x_url:</strong> <a href="{x_url}">{x_url}</a><br />
		</p>
	</div>

	<hr style="height:1px;border-width:0;color:#d4d4d4;background-color:#d4d4d4;width: 80%;text-align:center; margin: 40px auto;" />

	<p>Questions? Please reach out to <a href="mailto:cansupport@aclu.org?subject=Template%20question">cansupport@aclu.org</a>. One of the available campaigner will provide assistance at the earliest convenience. We also have Office Hours every other Wednesday at 3 p.m. ET.</p>
</div>