<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="600">
	<tbody>
		<tr>
			<td style="text-align: left; font-family: Arial, 'Helvetica Neue', sans-serif; font-size: 13px; color: #505050; line-height: 19px; padding: 25px 15px 15px 15px">
				<table role="presentation" width="56%" cellpadding="0" cellspacing="0" border="0" align="center" class="footer-left">
					<tbody>
						<tr>
							<td align="center" valign="top" class="footer-left" style="font-family: Arial, 'Helvetica Neue', sans-serif; font-size: 16px; line-height: 20px; color: #888888">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
									<tr>
										<td align="center">
											<table role="presentation" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td align="center" bgcolor="#0055aa">
														<a role="button" class="button-text" href="{donation_url}" style="font-family: Arial, sans-serif; color: #ffffff; padding: 12px 18px; border: 1px solid #0055aa; display: inline-block; font-size: 18px; font-weight: bold; text-align: center; text-decoration: none; text-transform: uppercase">Donate Now</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" align="right" class="footer-right">
					<tbody>
						<tr>
							<td align="center" valign="top" class="footer-right" style="padding: 40px 0px 0px 0px; font-family: Arial, 'Helvetica Neue', sans-serif; font-size: 16px; line-height: 20px; color: #888888; text-align: center">
								<a href="{facebook_url}"><img src="{facebook_logo}" border="0" alt="Facebook" width="33" /></a> &nbsp; &nbsp; {if threads_url == ""}<a href="{x_url}"><img src="{x_logo}" border="0" alt="X" width="33" /></a> &nbsp; &nbsp;{else}<a href="{threads_url}"><img src="{threads_logo}" border="0" alt="Threads" width="33" /></a> &nbsp; &nbsp;{/if}
								<a href="{instagram_url}"><img src="{instagram_logo}" border="0" alt="Instagram" width="33" /></a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" class="footer-text" style="color: #888888; font-family: Arial, 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 20px; padding: 15px">
				<!-- START FOOTER INFO -->
				This email was sent to: <strong>{email}</strong>
				<br />
				<br />
				<span style="font-family: Arial, 'Helvetica Neue', sans-serif">You are receiving this message because you signed up<br />to receive emails from the American Civil Liberties Union.</span>
				<br />
				<br />
				{if affiliation == "ca"}<a href="{ca_email_pref}" style="color: #888888">Unsubscribe</a>{else if affiliation == "nat"}<a href="https://action.aclu.org/webform/sign-aclu-action-texts?initms_aff=nat&initms_chan=eml&utm_medium=eml&initms=25XXXX_action-footer_sail&utm_source=sail&utm_campaign=&utm_content=25XXXX_civilliberties_action-footer&af={sb_query_string_encrypted}&ms_aff=nat&ms_chan=eml&ms=25XXXX_action-footer_sail" style="color:#888888;font-weight:300;">Sign up for ACLU texts</a> | <a href="https://action.aclu.org/preference-center/aclu-action-national-email-preference?&eid={email_id}&referral=ActionNational&unsub_url={optout_confirm_url}" style="color:#888888;font-weight:300;">Unsubscribe</a>{else}<a href="{email_pref}" style="color: #888888">Unsubscribe</a>{/if}
				<br />
				<br />
				Please note: If you forward or distribute, the links will open a page with your information filled in.
				<br />
				<br />
				We respect your right to privacy &ndash; <a href="{privacy_statement}" style="color: #888888">view our policy.</a>
				<br />
				<br />
				This email was sent by:<br />
				{affiliation_name}<br />
				{address1}<br />
				{address2}<br />
				<br />
				<!-- END FOOTER INFO -->
			</td>
		</tr>
	</tbody>
</table>
