{if logo == '20'}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_twenty_url}" border="0" width="{logo_twenty_size}" style="display:block;" /></a>
{else if logo == '50'}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_fifty_url}" border="0" width="{logo_fifty_size}" style="display:block;" /></a>
{else if logo == '60'}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_sixty_url}" border="0" width="{logo_sixty_size}" style="display:block;" /></a>
{else if logo == '75'}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_seventyFive_url}" border="0" width="{logo_seventyFive_size}" style="display:block;" /></a>
{else if logo == '80'}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_eighty_url}" border="0" width="{logo_eighty_size}" style="display:block;" /></a>
{else if logo == '90'}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_ninety_url}" border="0" width="{logo_ninety_size}" style="display:block;" /></a>
{else if logo == 'newsletter'}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_newsletter_url}" border="0" width="{logo_newsletter_size}" style="display:block;" /></a>
{else if logo == 'foundation'}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_foundation_url}" border="0" width="{logo_foundation_size}" style="display:block;" /></a>
{else if logo == 'impact'}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_impact_url}" border="0" width="{logo_impact_size}" style="display:block;" /></a>
{else if logo == 'custom'}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_custom_url}" border="0" width="{logo_custom_size}" style="display:block;" /></a>
{else}
	<a href="{website_url}"><img alt="{affiliation_name}'s logo" src="{logo_default_url}" border="0" width="{logo_default_size}" style="display:block;" /></a>
{/if}