<tr>
	<td class="footer" style="text-align:left;font-family: Arial,'Helvetica Neue',sans-serif;font-size:13px;color:#505050;line-height:19px;padding:25px 15px 15px 15px;">
		<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" align="right">
			<tbody>
				<tr>
					<td align="center" valign="top" style="padding:40px 0px 0px 0px;font-family: Arial,'Helvetica Neue',sans-serif;font-size:16px;line-height:20px;color:#888888;text-align:center;">
						<a href="{{affiliates.can.facebook}}"><img src="{{config.fbLogo}}" border="0" alt="Facebook Icon" width="33"/></a> &nbsp; &nbsp;
						<a href="{{affiliates.can.twitter}}"><img src="{{config.twLogo}}" border="0" alt="Twitter Icon" width="33"/></a> &nbsp; &nbsp;
						<a href="{{affiliates.can.instagram}}"><img src="{{config.igLogo}}" border="0" alt="Instagram Icon" width="33"/></a>
					</td>
				</tr>
				<tr>
					<td align="center" class="footer-text" style="color:#888888;font-family: Arial,'Helvetica Neue',sans-serif;font-size:14px;line-height:20px;padding:15px;">
						<p>{{affiliates.can.name}}<br />
						{{affiliates.can.address1}}<br />{{affiliates.can.address2}}</p>

						<p><a href="{{config.links.unsub}}" style="color:#888888;">Unsubscribe</a> | <a href="{{config.links.privacy}}" style="color:#888888;">Privacy Policy</a></p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>