{% from "components/button.njk" import button %}

<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="email-wrapper" width="{{theme.sizing.wrapper}}">
	<tbody>
		<tr>
			<td style="
			text-align:left;
			padding:25px 15px 15px 15px;">
				<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
					<tbody>
						<tr>
							<td align="center" valign="top" style="font-family: {{theme.typography.sans}};font-size: {{theme.typography.body}};line-height: {{theme.typography.lineHeight}};color: {{theme.colors.default.grey}};">
								{{ button("Donate Now", theme.colors.blue.primary, theme) }}
							</td>
						</tr>
					</tbody>
				</table>
				<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td align="center" valign="middle" class="footer-right" style="padding:20px 0px 0px 0px;font-family: {{theme.typography.sans}};font-size:{{theme.typography.body}};line-height: {{theme.typography.lineHeight}};color: {{theme.colors.default.grey}};text-align:center;">
								{% include "components/test.njk" %}
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" class="footer-info" style="color: {{theme.colors.default.grey}};font-family: {{theme.typography.sans}};font-size:14px;line-height: {{theme.typography.lineHeight}};padding:15px;">
				<!-- START FOOTER INFO -->
				This email was sent to: <strong>{% if config.environment === 'prod' %}{email}{% else  %}cansupport@aclu.org{% endif %}</strong><br />
				<br />
				<a href="{% if config.environment === 'prod' %}{email_pref}{% else %}{{config.unsub}}{% endif %}" style="color: {{theme.colors.default.grey}};">Unsubscribe</a><br />
				<br />
				Please note: If you forward or distribute, the links will open a page with your information filled in.<br />
				<br />
				We respect your right to privacy &ndash; <a href="{% if config.environment === 'prod' %}{privacy_url}{% else  %}{{dataLoader.nat.privacy_url}}{% endif %}" style="color: {{theme.colors.default.grey}};">view our policy.</a><br />
				<br />
				This email was sent by:<br />
				{% if config.environment === 'prod' %}American Civil Liberties Union of {affiliate_name}{% else  %}{{dataLoader.nat.affiliation_name}}{% endif %}<br />

				{% if config.environment === 'prod' %}{address1}{% else  %}{{dataLoader.nat.address1}}{% endif %}<br />

				{% if config.environment === 'prod' %}{address2}{% else  %}{{dataLoader.nat.address2}}{% endif %}<br />
				<br />
				<!-- END FOOTER INFO -->
			</td>
		</tr>
	</tbody>
</table>




