<tr>
	<td align="left" style="padding:20px 0;" class="logo-spacing">
		<a href="{% if config.environment === 'prod' %}{affiliates_website}{% else  %}{{affiliates.can.website}}{% endif %}"><img alt="{% if config.environment === 'prod' %}{affiliate_name}{% else  %}{{affiliates.can.name}}{% endif %}'s logo" src="{% if config.environment === 'prod' %}{affiliate_logo}{% else  %}{{affiliates.can.logo}}{% endif %}" border="0" width="{{theme.logoWidth}}" style="display:block;"/></a>
	</td>
</tr>